<%
meta title: "Москва. Метро. Авторизация вайфай",
     description: "Хватит смотреть рекламу в метро! Авторизуйся в Московском метро за 1 клик и пользуйся интернетом свободно!",
     keywords: %w(московское метро москва авторизация вайфай wi-fi wifi)

og   image: asset_path('mauth@2x.png')
%>

<%= notice %>

<div id="content">
  <div class="wrapper">
    <%= link_to 'https://blog.m4rr.ru/all/mauth/' do %>
      <%= image_tag 'mauth@2x.png', size: '60', class: 'h1img', alt: 'mauth beta' %>
    <% end %>
    <!-- <h1>Sign up</h1> -->
    <p id="got-it"></p>

    <%= render "likely" %>

    <%= form_for @betum, url: {action: "create"}, remote: true, html: {class: "nifty_form"} do |f| %>

    <% if @betum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@betum.errors.count, "error") %> prohibited this betum from being saved:</h2>
      <ul>
        <% @betum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <!-- <%= f.label :first_name %><br> -->
      <%= f.text_field :first_name, placeholder: 'Имя' %> <br />
    </div>
    <div class="field">
      <!-- <%= f.label :last_name %><br> -->
      <%= f.text_field :last_name, placeholder: 'Фамилия' %> <br />
    </div>
    <div class="field">
      <!-- <%= f.label :email %><br> -->
      <%= f.text_field :email, placeholder: 'Почта' %> <br />
    </div>
    <div class="field">
      <%= f.label :how_did_you_know, 'Откуда вы узнали об этой штуке?' %><br>
      <%= f.text_field :how_did_you_know %> <br />
    </div>
    <div class="field">
      <%= f.label :desc, 'Расскажите в двух предложениях, почему именно вы должны получить доступ к приложению' %><br>
      <%= f.text_area :desc, size: '30x3' %> <br />
    </div>

    <div class="actions">
      <%= f.submit 'I\'m Feeling Lucky', class: 'cupid-green' %>
    </div>
    <% end %>
    
  </div>
</div>

<div class="disclaimer">
  <!-- <p>Хватит смотреть рекламу в метро! Авторизуйся в Московском метро за 1 клик и пользуйся интернетом свободно!</p> -->
  <!-- <p>Нажмите на рекламу на странице авторизации в метро. Дальше приложение будет перехватывать переадресациии, пока не достигнет Яндекса.</p> -->
  <p>Используя это приложение, вы принимаете на себя всю ответственность за взаимодействие с сервисом интернета в метро. Это приложение с открытым <a href="https://github.com/m4rr/mauth">исходным кодом</a>.</p>
  <p>Using this app, you are taking full responsibility for interaction with the internet service in the subway. This app is <a href="https://github.com/m4rr/mauth">open source</a>.</p>
</div>
