<%
meta title: "Москва. Метро. Авторизация вайфай",
     description: "Хватит смотреть рекламу в метро! Авторизуйся в Московском метро за 1 клик и пользуйся интернетом свободно!",
     keywords: %w(московское метро москва авторизация вайфай wi-fi wifi)

og   image: asset_path('mauth@2x.png')
%>

<%= notice %>

<div id="content">
  <div class="wrapper">
    <%= link_to 'https://blog.m4rr.ru/all/mauth/' do %>
      <%= image_tag 'mauth@2x.png', size: '60', class: 'h1img', alt: 'mauth beta' %>
    <% end %>

    <%= render "likely" %>
    <%= link_to 'https://itunes.apple.com/ru/app/moscow-metro-wi-fi-authorization/id1041801794?l=en&mt=8', class: 'app-store-link' do %>
      <%= image_tag 'https://blog.m4rr.ru/pictures/Download_on_the_App_Store@2x.png', size: '203x60', alt: 'mauth on the App Store' %>
    <% end %>

  </div>
</div>

<div class="disclaimer">
  <p>Используя это приложение, вы принимаете на себя всю ответственность за взаимодействие с сервисом интернета в метро. Это приложение с открытым <a href="https://github.com/m4rr/mauth">исходным кодом</a>.</p>
  <p>Using this app, you are taking full responsibility for interaction with the internet service in the subway. This app is <a href="https://github.com/m4rr/mauth">open source</a>.</p>
</div>
