<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>

<div class="container">
  <div id="map" class="map fade-in three"></div>
  <nav class="fade-in one">

    <h1>Marat Saytakov</h1>
    <h2>iOS developer<!--,<br />hobbyist designer--> and traveller</h2>
    <!-- musician, singer, polyglot -->

    <p class="to-center"><a href="https://blog.m4rr.ru/">Blog</a> • <a href="/marat-saytakov-resume.pdf">Résumé.pdf</a></p>

    <div class="eof">
      <a href="http://github.com/m4rr"><i class="icon-github"></i></a><a href="http://stackoverflow.com/users/1204935/marat-saytakov"><i class="icon-stackoverflow"></i></a><a href="http://twitter.com/m4rr"><i class="icon-twitter"></i></a><a href="http://vk.com/narisoval"><i class="icon-vkontakte"></i></a><a href="http://facebook.com/narisoval"><i class="icon-facebook-squared"></i></a><a href="http://instagram.com/m4rr"><i class="icon-instagramm"></i></a><a href="http://linkedin.com/maratsaytakov"><i class="icon-linkedin"></i></a>
      <!-- <a href="https://plus.google.com/u/0/108845632718428099422/posts"><i class="icon-plus"></i></a> -->
    </div>

    <!-- <h3>My ★ Wishes</h3> -->
    <!-- <p class="to-center"><a href="http://wantr.ru/m4rr">Wish List</a> • <a href="http://wantr.ru/m4rr">Список желаний</a></p>     -->

    <h3>My <i class="icon-flight"></i> Travel</h3>
    <p>Visited <%= raw @countries_count %> countries and <%= raw @cities_count %> cities, including <%= raw @ru_cities_count %> cities in Russia and <%= raw @us_cities_count %> cities in USA<!--, 34 cities and 12 countries in Europe-->.</p>

    <h3>My  Apps</h3>
    <p class="app">
      <strong class="to-left">Chars</strong><span class="stars to-right">★★★★★</span><br />
      Beautiful and native way to type every&#173;thing with Unicode characters on iOS.<br />
      <a href="https://itunes.apple.com/us/app/chars/id918947313?mt=8">App Store</a>
      <a href="http://www.chars.cc/" class="to-right">chars.cc</a>
    </p>
    <p class="app">
      <strong>Easy Percent</strong><br />
      Much easier and pretty nice calculator of taxes and reversed percent.<br />
      <a href="https://itunes.apple.com/us/app/easy-percent-much-easier-calc/id740111096?mt=8">App Store</a>
      <!-- <a href="http://www.chars.cc/" class="to-right">chars.cc</a>  -->
    </p>
    <p class="app">
      <strong>Sochi Safety Guide</strong><br />
      A Guide about your safety in Russia. Don't drink unlabeled vodka!<br />
      <a href="https://itunes.apple.com/us/app/sochi-safety-guide/id806787063?mt=8">App Store</a>
      <a href="http://www.ocloudesign.com/sochi-safety-guide/" class="to-right">ocloudesign.com</a>
    </p>

    <div class="likely-wrapper fade-in two">
      <div class="likely likely-small">
        <div class="twitter" data-via="m4rr">tweet</div>
        <div class="facebook">share</div>
        <div class="vkontakte">share</div>
        <div class="gplus">plus</div>
      </div>
    </div>
    
  </nav>
</div>

<script type="text/javascript">
  function initialize() {
    buildMap(<%= raw @map_json %>);
  }
  function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = '//maps.googleapis.com/maps/api/js?v=3.exp' +
      '&sensor=false&language=en-EN&callback=initialize'; // &signed_in=true
    document.body.appendChild(script);
  }
  window.onload = loadScript;
</script>
