<div class="container">
  <nav class="fade-in one">
    <h1 class="26yo">Marat Saytakov</h1>

    <h2>iOS software engineer, code mentor, Swift contributor. And traveller.</h2>

    <p><b><a href="/marat-saytakov-cv.pdf">Resume / CV</a></b> &nbsp; • &nbsp; <a href="https://blog.m4rr.ru/"><b>Blog</b> in Russian</a> &nbsp; • &nbsp; <a href="https://medium.com/@m4rr"><b>Medium</b> in English</a></p>

    <div class="eof">
      <a href="https://github.com/m4rr"><i class="icon-github"></i></a><a href="https://stackoverflow.com/users/1204935/marat-saytakov"><i class="icon-stackoverflow"></i></a><a href="https://twitter.com/m4rr"><i class="icon-twitter"></i></a><a href="https://vk.com/narisoval"><i class="icon-vkontakte"></i></a><a href="https://facebook.com/narisoval"><i class="icon-facebook-squared"></i></a><a href="https://instagram.com/m4rr"><i class="icon-instagram"></i></a><a href="https://linkedin.com/in/maratsaytakov"><i class="icon-linkedin"></i></a>
    </div>

    <!-- <h3>★ Wantr</h3> -->
    <!-- <p class="to-center"><a href="http://wantr.ru/m4rr">Wish List</a></p> -->

    <space></space>

    <p><strong>Visited</strong> <%= raw @countries_count %> countries and <%= raw @cities_count %> cities, including <%= raw @ru_cities_count %> cities in Russia and <%= raw @us_cities_count %> in USA<!-- , 34 cities and 12 countries in Europe -->.</p>

    <space></space>

    <ul>
      <strong>Talks</strong>
      <li><a href="http://moscoding.ru/swift/">Swift iOS Development 101</a>, Moscow Coding School<span class="now">now</span></li>
      <li><a href="https://www.codementor.io/m4rr">28 expert sessions</a>, Codementor</li>
      <li><a href="https://blog.m4rr.ru/all/size-classes-addition/">Size Classes on iOS</a>, CocoaHeads Moscow</li>
      <li><a href="https://habrahabr.ru/company/mailru/blog/244673/">Custom Keyboards</a></li>
    </ul>

    <space></space>

    <p class="app">
      <strong><a href="https://itunes.apple.com/ru/app/moscow-metro-wi-fi-authorization/id1041801794?l=ru&mt=8">Moscow Metro Wi-Fi Auth</a></strong>&nbsp;&nbsp;<span class="stars">★★★★★</span><br /><!-- <span class="not-gold">★</span> -->
      Helps avoid ads in MosMetro_Free, for free.<br />
      <a class="appstore" href="https://itunes.apple.com/ru/app/moscow-metro-wi-fi-authorization/id1041801794?l=ru&mt=8">App Store</a>
      &middot; &nbsp;
      <a href="/mauth">Promo</a>
      &nbsp; &middot; &nbsp;
      <a href="https://github.com/m4rr/mauth">GitHub</a>
      &nbsp; &middot; &nbsp;
      <a href="https://blog.m4rr.ru/all/moscow-metro-wi-fi-authorization/">More</a>
    </p>
    <p class="app">
      <strong><a href="https://itunes.apple.com/us/app/chars/id918947313?mt=8">Chars</a></strong>&nbsp;&nbsp;<span class="stars">★★★★★</span><br />
      Beautiful and native way to type every&#173;thing with Unicode characters on iOS.<br />
      <a class="appstore" href="https://itunes.apple.com/us/app/chars/id918947313?mt=8">App Store</a>
      &middot; &nbsp;
      <a href="http://www.chars.cc/">chars.cc</a>
    </p>
    <p class="app">
      <strong><a href="https://itunes.apple.com/us/app/easy-percent-much-easier-calc/id740111096?mt=8">Easy Percent</a></strong>&nbsp;&nbsp;<span class="stars">★★★★★</span><br />
      An easier and prettier calculator for percentages.<br />
      <a class="appstore" href="https://itunes.apple.com/us/app/easy-percent-much-easier-calc/id740111096?mt=8">App Store</a>
    </p>
    <p class="app">
      <a href="https://telegram.me/addstickers/DUMP2016"><%= image_tag 'huyak-production@2x.png', size: '60', align: 'right', alt: 'Стикеры для телеграма: хуяк-хуяк и в продакшен / Slap shit together and deploy', title: 'Хуяк-хуяк и в продакшен / Slap shit together and deploy' %></a>
      <strong><a href="https://telegram.me/addstickers/DUMP2016">Geek Sticker Set</a></strong>  <span class="nbsp">for <i class="icon-paper-plane"></i> Telegram</span><br />
      Well-illustrated techie memes stickers.<br />6k+ happy users.<br />
      <a class="appstore" href="https://telegram.me/addstickers/DUMP2016">Add Stickers</a>
      &middot; &nbsp;
      <a href="https://blog.m4rr.ru/all/telegram-stickers-ctrl-c-writer/">More</a>
    </p>
    <p class="app">
      <strong><a href="https://telegram.me/USDRUB_bot">EUR-USD-RUB Bot</a></strong>  <span class="nbsp">for <i class="icon-paper-plane"></i> Telegram</span><br />
      Pretty straightforward currency converter bot. Useful helper on a Philosophers' ships chats.<br />
      <a class="appstore" href="https://telegram.me/USDRUB_bot">Start Bot</a>
      &middot; &nbsp;
      <a href="https://github.com/m4rr/money_bot">GitHub</a>
    </p>
  </nav>
  <div id="map" class="map fade-in two"></div>
</div>

<script type="text/javascript">
  function initialize() {
    buildMap(<%= raw @map_json %>);
  }

  function loadScript() {
    // Preventing the Google Maps libary from downloading an extra font
    var head = $('head')[0];
    var insertBefore = head.insertBefore;
    head.insertBefore = function (newElement, referenceElement) {
        // intercept font download
        if (newElement.href
          && newElement.href.indexOf('https://fonts.googleapis.com/css?family=Roboto') === 0) {
            return;
        }
        // intercept style elements for IEs
        if (newElement.tagName.toLowerCase() === 'style'
          && newElement.styleSheet
          && newElement.styleSheet.cssText
          && newElement.styleSheet.cssText.replace('\r\n', '').indexOf('.gm-style') === 0) {
            return;
        }
        // intercept style elements for other browsers
        if (newElement.tagName.toLowerCase() === 'style'
          && newElement.innerHTML
          && newElement.innerHTML.replace('\r\n', '').indexOf('.gm-style') === 0) {
            return;
        }
      insertBefore.call(head, newElement, referenceElement);
    };

    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = '//maps.googleapis.com/maps/api/js?v=3.exp' +
      '&sensor=false&callback=initialize&region=ru'; // &signed_in=true
    document.body.appendChild(script);
  }
  window.onload = loadScript;
</script>
