<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @betum.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @betum.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @betum.email %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @betum.desc %>
</p>

<%= link_to 'Edit', edit_betum_path(@betum) %> |
<%= link_to 'Back', beta_path %>
